@import "tailwindcss";

@theme {
  --color-neon-purple: #b026ff;
  --color-neon-pink: #ff107a;
  --color-neon-blue: #00e5ff;
  --color-dark-bg: #09090b;
  --color-dark-surface: #18181b;
}

body {
  margin: 0;
  background-color: var(--color-dark-bg);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
